<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商家完善资料</title>

    <!-- bootstrap核心样式文件 -->
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrapValidator.min.css">

    <!-- jquery库 必须在其他js库前引入-->
    <script type="text/javascript" src="../js/bootstrap/jquery-1.10.2.min.js"></script>


    <!-- bootstrap库 必须在其他js库前引入-->
    <script type="text/javascript" src="../js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap/bootstrapValidator.min.js"></script>


    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
<!--	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>-->
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../js/base.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/TbSellerController.js"></script>
    <script type="text/javascript" src="../js/service/TbSellerService.js"></script>

    <script type="text/javascript" src="../layer/layer.js"></script>
    
</head>

<body class="hold-transition skin-red sidebar-mini"  ng-app="lg" ng-controller="TbSellerController" >



            <!-- 正文区域 -->
            <section class="content">

                <div class="box-body">

                    <!--tab页-->
                    <div class="nav-tabs-custom">

                        <!--tab头-->
                        <ul class="nav nav-tabs">
                       		
                            <li class="active">
                                <a href="#home" data-toggle="tab">修改密码</a>                             
                            </li>                            
                        </ul>
                        <!--tab头/-->
						
                        <!--tab内容-->
                        <div class="tab-content">

                            <form  id="defaultForm" role="form" class="form-sign" method="post" >
                            <!--表单内容-->
                            <div class="tab-pane active" id="home">
                                <div class="row data-type">

                                    <div class="col-md-2 title" for="password">原密码</div>
                                    <div class="col-md-10 data">
                                            <div class="form-group">
                                            <input type="password" class="form-control" id="oldPassword"   ng-model="entity.name" name="password"   placeholder="原密码" >
                                            </div>
                                    </div>
									
									<div class="col-md-2 title" for="password1">新密码</div>
                                    <div class="col-md-10 data">
                                        <div class="form-group">
                                        <input type="password" class="form-control" name="password1" id="newPassword"  ng-model="entity.password"  placeholder="新密码" >
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-2 title" for="password2">确认新密码</div>
                                    <div class="col-md-10 data">
                                        <div class="form-group">
                                        <input type="password" class="form-control"  name="password2" id="newPassword1" ng-model="entity.address" placeholder="确认新密码">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-1 col-md-offset-5" >
                                        <button class="btn btn-lg btn-primary btn-danger"   ng-click="updatePassword()"  >确认修改</button>
                                    </div>

                                </div>
                            </div>
                            </form>


                            <script>
                                $(function () {
                                    $('#defaultForm').bootstrapValidator({
                                        message: '这个值没有被验证',
                                        feedbackIcons: {
                                            /*input状态样式图片*/
                                            valid: 'glyphicon glyphicon-ok',
                                            invalid: 'glyphicon glyphicon-remove',
                                            validating: 'glyphicon glyphicon-refresh'
                                        },
                                        fields: {
                                            /*验证：规则*/

                                            password: {
                                                message: '密码还没有验证',
                                                validators: {
                                                    notEmpty: {
                                                        message: '密码不能为空'
                                                    },
                                                    stringLength: {
                                                        min: 1,
                                                        max: 16,
                                                        message: '密码长度在1到16位之间'
                                                    },
                                                }
                                            },

                                            password1: {
                                                message: '密码还没有验证',
                                                validators: {
                                                    notEmpty: {
                                                        message: '密码不能为空'
                                                    },
                                                    stringLength: {
                                                        min: 1,
                                                        max: 16,
                                                        message: '密码长度在1到16位之间'
                                                    },
                                                    different: {
                                                        field: 'password',
                                                        message: '新密码不能和原密码一样'
                                                    },
                                                }
                                            },

                                            password2: {
                                                message: '密码还没有验证',
                                                validators: {
                                                    notEmpty: {
                                                        message: '密码不能为空'
                                                    },
                                                    stringLength: {
                                                        min: 1,
                                                        max: 16,
                                                        message: '密码长度在1到16位之间'
                                                    },
                                                    identical: {
                                                        field: 'password1',
                                                        message: '和新密码不一致'
                                                    },
                                                    different: {
                                                        field: 'password',
                                                        message: '新密码不能和原密码一样'
                                                    },
                                                }
                                            },
                                        }
                                    })
                                        .on('success.form.bv', function(e) {//点击提交之后
                                            // Prevent form submission
                                            e.preventDefault();

                                            // Get the form instance
                                            var $form = $(e.target);

                                            // Get the BootstrapValidator instance
                                            var bv = $form.data('bootstrapValidator');

                                            // Use Ajax to submit form data 提交至form标签中的action，result自定义
                                            $.post($form.attr('action'), $form.serialize(), function(result) {
//do something...
                                            });
                                        });

                                })

                            </script>

                        </div>
                        <!--tab内容/-->
						<!--表单内容/-->
							 
                    </div>

                   </div>
                  <!--<div class="btn-toolbar list-toolbar">
				      <button class="btn btn-primary"><i class="fa fa-save"></i>保存</button>
				      <a data-toggle="modal" class="btn btn-danger">提交</a>
				  </div>-->
			
            </section>
            <!-- 正文区域 /-->
			
       
</body>

</html>